<h1>Perfil de Admin</h1>
<h2>Rol: Admin</h2>
<p>Nombre: {{first_name}} {{last_name}}</p>
<p>Email: {{email}}</p>
<p>Edad: {{age}}</p>
<div>
    <h2>Productos</h2>
    <h3>Mochila escolar</h3>
    <h4>Price: $500</h4>
</div>