<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" id="productInput" placeholder="Ingrese el nombre del producto">
    <button onclick="sendProduct()" id="boton">Enviar</button>

    <div id="productList"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>

</html>