<form action="/restablecerContrasenia/:token" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Nueva Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <label for="password">Repetir Contraseña:</label>
    <input type="password" id="passwordCopy" name="passwordCopy" required>
    <button type="submit">Restablecer Contraseña</button>
</form>