<h1>Perfil de Usuario</h1>
<h2>Rol: Usuario</h2>
<p>Nombre: {{first_name}} {{last_name}}</p>
<p>Email: {{email}}</p>
<p>Edad: {{age}}</p>

<form method="POST" action="/logout" id="logoutForm">
    <button type="submit">Logout</button>
</form>